.tcon {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  background: transparent;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  padding: 0; }
  .tcon > * {
    display: block; }
  .tcon:hover, .tcon:focus {
    outline: none; }
  .tcon::-moz-focus-inner {
    border: 0; }

.tcon, .tcon-menu__lines, .tcon-menu__lines::before, .tcon-menu__lines::after {
  width: 40px; }

.tcon-menu__lines, .tcon-menu__lines::before, .tcon-menu__lines::after {
  display: inline-block;
  height: 3px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background: #FFF;
  position: relative; }

.tcon-menu__lines::before, .tcon-menu__lines::after {
  content: '';
  position: absolute;
  left: 0;
  -webkit-transform-origin: 2.85714px center;
  transform-origin: 2.85714px center;
  width: 100%; }

.tcon-menu__lines::before {
  top: 10px; }

.tcon-menu__lines::after {
  top: -10px; }

.tcon-transform .tcon-menu__lines {
  transform: scale3d(0.8, 0.8, 0.8); }

.tcon-menu--xcross {
  width: auto; }

.tcon-menu--xcross.tcon-transform .tcon-menu__lines {
  background: transparent; }

.tcon-menu--xcross.tcon-transform .tcon-menu__lines::before,
.tcon-menu--xcross.tcon-transform .tcon-menu__lines::after {
  transform-origin: 50% 50%;
  top: 0;
  width: 40px; }

.tcon-menu--xcross.tcon-transform .tcon-menu__lines::before {
  transform: rotate3d(0, 0, 1, 45deg); }

.tcon-menu--xcross.tcon-transform .tcon-menu__lines::after {
  transform: rotate3d(0, 0, 1, -45deg); }

.tcon-visuallyhidden {
  border: 0;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute; }
  .tcon-visuallyhidden:active, .tcon-visuallyhidden:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

.bar {
  background: #111;
  height: 57px; }

.menu {
  float: right; }
  @media only screen and (max-width: 768px) {
    .menu {
      float: none;
      position: absolute;
      width: 100%;
      background-color: #111;
      left: 0;
      top: 0; } }
  .menu ul {
    -webkit-animation: fade-in 1.5s, slide-from-right 1.2s;
    -moz-animation: fade-in 1.5s, slide-from-right 1.2s;
    -ms-animation: fade-in 1.5s, slide-from-right 1.2s;
    -o-animation: fade-in 1.5s, slide-from-right 1.2s;
    animation: fade-in 1.5s, slide-from-right 1.2s; }
    @media only screen and (max-width: 768px) {
      .menu ul {
        display: none;
        padding: 20px 0; } }
  .menu li {
    display: inline-block;
    font-weight: 900;
    font-size: .85em;
    padding: 20px 0;
    margin-left: 10px; }
    .menu li a, .menu li a:visited {
      color: #fff;
      text-decoration: none;
      padding: 5px 15px; }
      @media only screen and (max-width: 768px) {
        .menu li a, .menu li a:visited {
          color: #fdcf54;
          display: inline-block;
          font-size: 1.5rem;
          padding: 10px 15px; } }
    @media only screen and (max-width: 768px) {
      .menu li {
        width: 100%;
        display: block;
        padding: 0;
        margin: 0; } }
  .menu .tcon {
    display: none;
    position: absolute;
    top: 8px;
    right: 15px; }
    @media only screen and (max-width: 768px) {
      .menu .tcon {
        display: block; } }

/* 
TABLE OF CONTENTS
  HTML & Resets
  Grid
  Floats
  Form Elements
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

article, aside, figure, figure img, figcaption, hgroup, footer, header, nav, section, video, object {
  display: block; }

html {
  font-size: 62.5%; }

body {
  color: #111;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 1.5rem;
  min-width: 1280px; }
  @media only screen and (max-width: 1280px) {
    body {
      min-width: 0;
      max-width: 1280px; } }

body, input, textarea, select, button {
  font-family: "Helvetica Neue", Arial, sans-serif; }

a, a:visited {
  color: #1899CB;
  text-decoration: none; }
  a:hover, a:active, a:visited:hover, a:visited:active {
    color: #13779d; }

a:hover, :focus, li:hover, img:hover, input:hover {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }

p {
  margin-bottom: 15px;
  line-height: 145%; }

hr {
  display: block;
  height: 1px;
  background: #555;
  color: #555;
  border: 0; }

figure {
  position: relative;
  text-align: center; }
  figure img {
    display: block;
    margin: 0 auto; }
  figure figcaption {
    font-size: 1rem; }

img {
  height: auto;
  max-width: 100%; }

h1, h2, h3, h4, h5 {
  font-family: Georgia, "Times New Roman", serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.4rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.8rem; }

h4 {
  font-size: 1.4rem; }

h5 {
  font-size: 1rem; }

h6 {
  font-size: .8rem; }

blockquote {
  margin: 25px 45px; }

pre, code {
  font: 1.25rem "Courier New", Courier, monospace; }

code {
  background: #f3f3f3;
  padding: 10px;
  display: block; }

.row {
  max-width: 1280px;
  clear: both;
  margin: 0 auto;
  padding: 0 15px; }
  .row .col {
    float: left;
    margin: 25px 1.6% 25px 0;
    display: block; }
    .row .col:last-child, .row .col.twelvecol {
      margin-right: 0; }
  .row .onecol {
    width: 6.866%; }
  .row .twocol {
    width: 15.33%; }
  .row .threecol {
    width: 23.8%; }
  .row .fourcol {
    width: 32.26%; }
  .row .fivecol {
    width: 40.73%; }
  .row .sixcol {
    width: 49.2%; }
  .row .sevencol {
    width: 57.66%; }
  .row .eightcol {
    width: 66.13%; }
  .row .ninecol {
    width: 74.06%; }
  .row .tencol {
    width: 83.06%; }
  .row .elevencol {
    width: 91.53%; }
  .row .twelvecol {
    width: auto; }

.left {
  float: left; }

.right {
  float: right; }

.clearfix:after, .bar:after, .row:after {
  content: "";
  display: table;
  clear: both; }

input[type=text], input[type=email], input[type=password], textarea {
  border-style: 1px solid #555;
  padding: 8px;
  color: #111;
  -webkit-appearance: none; }

input:focus, textarea:focus {
  border-color: #333; }

textarea {
  width: 100%; }

.btn, button, input[type=submit] {
  background: #333;
  color: #fff;
  padding: 12px 32px;
  border-radius: 2px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  text-transform: uppercase;
  letter-spacing: .08em;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-weight: 600;
  font-size: 1.1rem; }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-ms-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes slide-from-right {
  0% {
    margin-right: -20px; }
  100% {
    margin-right: 0; } }
@-moz-keyframes slide-from-right {
  0% {
    margin-right: -20px; }
  100% {
    margin-right: 0; } }
@-ms-keyframes slide-from-right {
  0% {
    margin-right: -20px; }
  100% {
    margin-right: 0; } }
@-o-keyframes slide-from-right {
  0% {
    margin-right: -20px; }
  100% {
    margin-right: 0; } }
@keyframes slide-from-right {
  0% {
    margin-right: -20px; }
  100% {
    margin-right: 0; } }

/*# sourceMappingURL=style.css.map */
