// Grid & Structure //
	$content-width:			1280px;


// Colors //
	$text-color:			#111;
	$text-color-lt:			#505050;
	
	$link-color:			#1899CB;  
	
	$border-lt:				#d7d7d7;
	$border-dark:			#555;
	
	$bg-lt:					#f3f3f3;
	$bg-dark:				#333;

	$highlight:				#fdcf54;
	

// Type //
	$font-family-display:	Georgia,'Times New Roman', serif;
	$font-family-body:		'Helvetica Neue', Arial, sans-serif;